$color-light: #279a45;
$color-primary: #167734;
$color-dark: #055424;
$color-disabled: #999999;
$color-danger: #d32c12;

$desktop-min-width: 1080px;
$tablet-min-width: 600px;

$header-height: 60px;
$mobile-header-height: 100px;

$footer-height: 40px;
